server:
  port: 5000

spring:
  application:
    name: shop-service
  profiles:
    active: dev
  config:
    import: "optional:configserver:"
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/shop_db}
    username: ${SPRING_DATASOURCE_USERNAME:shop_user}
    password: ${SPRING_DATASOURCE_PASSWORD:shop_password}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true