server:
  port: 5020

spring:
  application:
    name: shop-service

  cloud:
    config:
      enabled: false
      fail-fast: false

  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: pwd
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

eureka:
  client:
    enabled: false
